# build artefaktok
/build/
/bin/
/dist/

# lokális adat
/data/
/ChainDB/
/ChainDB-*
*.db
*.log

# pénztárca és jelszófájlok SOHA ne kerüljenek gitbe
wallet.json
wallet.pswd
*.key
*.crt
*.pem

# lokális/dev konfigok
config.*.local.json
config.dev.json

# ideiglenes editor fájlok
*.swp
*.swo
.DS_Store
